/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/Assets/AssetStoreTools*
/.vs/
/.idea/

/*.csproj
/*.unityproj
/*.booproj
/*.sln
/*.suo
/*.tmp
*.user
*.userprefs
/*.pidb
/*.svd

/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
/UserSettings/*
/Assets/Res/HotfixDLL/

### ETServer ###
/ETServer/.idea/
/ETServer/.vs/
/ETServer/Server/.idea/
/ETServer/Server/.vs/
/ETServer/[Bb]in/
/ETServer/[Ll]ibrary/
/ETServer/[Tt]emp/
/ETServer/[Oo]bj/
/ETServer/[Ll]ogs/
!/ETServer/Server/*.sln


### 初始化项目 ###
/Release/
